

.recommended-container {
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 30px;
}

.recommended-card {
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  margin: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  position: relative;
}

.recommended-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.13) ;
}

.recommended-details {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent); /* Linear gradient effect */
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.recommended-title {
  color: #fff;
  font-size: .7rem;
  margin: 5px 0;
}

.recommended-subtitle {
  color: #fff;
  font-size: 0.6rem;
  margin: 2px 0;
}

.highlight {
  border: 2px solid blue;
  transition: border-color 0.3s;
}

.tit_cit{
  width: 50%;
}

.dat_wet{
 
  width: 50%;
  display: flex;
  align-items: flex-end;
  gap:5px;
  justify-content: flex-end;
  flex-direction: column;

}

.recommended-subtitle2 {
  color: #fff;
  font-size: 0.52rem;
  margin: 2px 0;
}
