html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1E2022;
  position: relative;
}

.navbar {
  z-index: 4; /* Ensure navbar is on top */
  position: fixed; /* Fix navbar at the top */
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.background-container {
  background: url('./images/Front screen.svg') no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  top: 60px; /* Adjust this based on the height of the navbar */
  left: 0;
  width: 100%;
  height: 100vh; /* Subtract the navbar height */
  z-index: 1;
  overflow: hidden;
  margin-top: 30px;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Night effect overlay */
  z-index: 2;
}

.app-container {
  position: relative;
  z-index: 3; /* Ensure this is above the background */
  padding: 20px;
  padding-top: 80px; /* Add padding to account for fixed navbar */
  min-height: 100vh; /* Change this from height to min-height */
  overflow-y: auto;
}

.content-wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.heading {
  padding: 10px;
  font-size: 1.3rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  z-index: 5;
  position: relative;
}

.heading2 {
  padding: 10px;
  font-size: 1.3rem;
  color: #000000;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  z-index: 5;
  position: relative;
}


.see_but{
  display: none;
}

.see_but2{
  display: none;
}

.head_cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  body::before {
    height: 100vh;
  }
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .img_cont {
    width: 16em;
    height: 12em;
  }

  .landing-content h1 {
    font-size: 3rem;
  }

  .landing-content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 930px) {
  .img_cont {
    width: 12em;
    height: 8em;
  }

  .landing-content h1 {
    font-size: 2.5rem;
  }

  .landing-content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 770px) {
  .img_cont {
    width: 24em;
    height: 20em;
    min-width: 12em;
    min-height: 8em;
  }
  .background-container{
    margin-top:80px ;
  }

  .landing-content h1 {
    font-size: 2rem;
  }

  .landing-content p {
    font-size: 1rem;
  }

  .see_but{
    display: block;
    padding: 10px;
    font-size: .8rem;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    z-index: 5;
    position: relative;
    text-decoration: underline;
  }
  .see_but2{
    display: block;
    padding: 10px;
    font-size: .8rem;
    color: #030303;
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    z-index: 5;
    position: relative;
    text-decoration: underline;
  }
}

@media (max-width: 520px) {}

@media (max-width: 480px) {
  .img_cont {
    width: 18em;
    height: 14em;
    min-width: 14em;
    min-height: 10em;
  }
  .heading{
    font-size: 1.1rem;
  }
  .heading2{
    font-size: 1.1rem;
  }
}

@media (max-width: 430px) {
  .img_cont {
    width: 18em;
    height: 14em;
    min-width: 10em;
    min-height: 6em;
    margin:10px;
  }

  .landing-content h1 {
    font-size: 1rem;
  }

  .landing-content p {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  .img_cont {
    width: 17em;
    height: 14em;
    min-width: 10em;
    min-height: 6em;
    margin:10px;
  }

  .landing-content h1 {
    font-size: 1rem;
  }

  .landing-content p {
    font-size: 0.8rem;
  }
}
@media (max-width: 355px) {
  .img_cont {
    width: 14em;
    height: 10em;
    min-width: 10em;
    min-height: 6em;
    margin:10px;
  }

  .landing-content h1 {
    font-size: 1rem;
  }

  .landing-content p {
    font-size: 0.8rem;
  }
}
